In [4]:
import autograd.numpy as np_
from autograd import grad
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [17]:
df = pd.read_csv('data/dados_A771_H_2019-01-01_2024-10-17.csv', sep=';', skiprows=10)
df.drop(columns=["Unnamed: 3"], inplace=True)
df.head()

  Data Medicao  Hora Medicao  TEMPERATURA MAXIMA NA HORA ANT. (AUT)(°C)
0   2019-01-01             0                                       21.5
1   2019-01-01           100                                       21.6
2   2019-01-01           200                                       21.1
3   2019-01-01           300                                       20.7
4   2019-01-01           400                                       20.9